@import "tailwindcss";
@plugin "daisyui";

body {
    background: url(./assets/pexels-creative-vix-9754.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
}